@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root{
    --primary-color:#fa5320;
    --secondary-color: white;
    --container-color:#f7f9fa;
    --font-secondary-color:#4c555e;
    --header-font-color:#212121;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* navigation*/
.header {
    width: 100%;
  max-width:80%;
  margin:auto;
  display:flex;
  justify-content: space-between;
  
  
  }
  .brand-name {
    width: 49%;
    font-size: 40px;
      font-weight:bolder;
      padding-left: 40px;
      padding-top: 10px;
      color: var(--primary-color);
      line-height: -5px;
  }

.nav-link{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    color: var(--font-secondary-color);
}

.nav-pills {
    text-align: right;
    list-style: none;
}


.list-inline {
    display: inline-block;
    margin: 10px;
    list-style: none;
    font-size: 20px;
    font-weight: 100;
    
}

/*break*/
.dashed {
    opacity: 40%;
    margin-bottom: 0px;

}
/* container*/
.container-color{
    background-color: var(--container-color);
}
.container{
    text-align: center;
    padding-top: 20px;
    
}

.container .container-hero {

    margin: auto;
    max-width: 80%;
    width: 670px;
}

h1{
    font-size: 48px;   
    color: var(--header-font-color);
}

.subtitle {
    color: var(--font-secondary-color);
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36px;
    
    margin: auto;
    
}
.subtitle .highlight {
    color: var(--primary-color); 
    font-weight: 800;
}

footer {
width: 100%;
  max-width:80%;
  margin:auto;
  display:block;
  
    
}
footer .nav-link{
    color: var(--font-secondary-color);
    font-size: small;
}
.footer-header{
    font-size: 15px;
    text-align: center;
      font-weight:bolder;
      padding-top: 10px;
      line-height: -5px;
      color: var(--primary-color);
}

footer .nav-pills{
    text-align: center;
    
}

ul.social-links{
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

.list-inline{
    display: inline;
    margin: 10px;
}