<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <title>Email Validator</title>
</head>

<body>
    <!-- navbar -->
    <div class="header">
        <div class= "brand-name">Email Verifier</div>
    <ul class="list-no-bullet nav-pills">

        <li class = "list-inline"><a class="nav-link" href="index.html">Home</a></li>
        <li class = "list-inline"><a class="nav-link" href="/project.html">Blog</a></li>
        <li class = "list-inline"><a class="nav-link" href="/blogs.html">GitHub</a></li>

    </ul>
    </div>
    
    <hr class="dashed">
    <!-- Body -->
<div class="container-color">
    <div class="container">
        <!-- Hero Section -->
        <div class="container-hero">
        <h1 class="h1">Email Verifier</h1>
        <div class="subtitle">There are <span class="highlight">7 billion email accounts</span> in use, currently. <br>Try this tool to verify your emails </div>
        </div>    
    </div>
    <!-- Main tool -->
    <div class="input-wrapper">
<div class="input-container">
    <input placeholder="Enter an email address to verify it 😃" autocomplete="off" autofocus='autofocus' class="e-input" id="input" type="email" name="email" required="required">
    <button class="input-button" id="input-button"> Verify email</button>
</div>
<p class="desc">Enter a email id to verify it. For example, john.doe@gmail.com</p>
    </div>

    <!-- Result -->
        <div class="result" style="display:block;">
            <h2>This email address is: <span class="is-verify" id="is-verify"></span></h2>
           
           <!--2ND Phase
            <p> Disposible Email: <span class="is-disposible"></span></p>
            <p> Is it free?: <span class="is-free"></span></p> -->
        </div>
</div>


    <footer class="footer">
        <!-- footer -->
        <div class="footer-header">Connect with me on</div>
        <ul class="social-links">
            <li class="list-inline">
                <a class="nav-link" href="https://github.com/ghosharnab00">
                    Github
                </a>
            </li>
            <li class="list-inline">
                <a class="nav-link" href="https://twitter.com/arnabghosh_co">
                    Twitter
                </a>
            </li>
            <li class="list-inline">
                <a class="nav-link" href="https://linkedin.com/in/arnabghoshwriter">
                    LinkedIn
                </a>
            </li>
        </ul>
    </footer>

    <script type="module" src="/app/app.js"></script>
</body>

</html>

<!--samples: https://snov.io/email-verifier, https://hunter.io/>



    